@charset "utf-8";
/* CSS Document */
/*@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.otf');
    src: url('../fonts/Exo-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Exo-Regular.woff') format('woff'),
         url('../fonts/Exo-Regular.ttf') format('truetype'),
         url('../fonts/Exo-Regular.svg#corbel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ContextRepriseLightSSi';
    src: url('../fonts/ContextRepriseLightSSi.eot');
    src: url('../fonts/ContextRepriseLightSSi.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/ContextRepriseLightSSi.woff') format('woff'), 
         url('../fonts/ContextRepriseLightSSi.ttf') format('truetype'), 
         url('../fonts/ContextRepriseLightSSi.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
*{
	margin:0px;
	padding:0px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	background: none repeat scroll 0% 0% transparent;	
	text-align:left;
}
body{
	background:url(../img/bg/bg.gif);
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
}

a{
	text-decoration:none;
	color:#fff;
}

a img{
	border:none;
}
ul {
	list-style-type: none;
}

p{
	text-align:justify;
	
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix{
    display: inline-block;
}
#overlay{
	position:absolute;
	top:0;
	z-index:3;
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
	background:url(../img/bg/overlaySlider.png);
	overflow:hidden;
}
#sectionWrapper{
	position:relative;
	z-index:3;
	width:100%;
	height:auto;
}
#sectionWrapper #sectionHeaderWrapper{
	width:100%;
	height:415px;
	background:url(../img/bg/header.gif) repeat-x;
}
#sectionWrapper #sectionHeaderWrapper header{
	width:1000px;
	height:415px;
	position:relative;
	margin:0;
	padding-left:30px;
}
#sectionWrapper #sectionHeaderWrapper header #sectionLogo{
	width:198px;
	height:240px;
	float:left;
	padding-top:60px;
}
#sectionWrapper #sectionHeaderWrapper header #sectionWelcome{
	width:740px;
	height:140px;
	float:left;
	padding-top:240px;
	padding-left:60px;
}
#sectionWrapper #sectionContentWrapper{
	width:1000px;
	height:auto;
	margin:0 auto;
	position:relative;
	left:50%;
	margin-left:-500px;
	
}